<div class="grid">

  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Materias | Total</span>
          <div class="text-900 font-medium text-xl">{{dashboard.materias ? dashboard.materias : 0}}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-fw pi-book text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">{{dashboard.materiasActivas ? dashboard.materiasActivas : 0}} </span>
      <span class="text-500">Activas</span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Asistencias | Este mes</span>
          <div class="text-900 font-medium text-xl">{{dashboard.asistenciasMes ? dashboard.asistenciasMes : 0}}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-fw pi-check-square text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">{{dashboard.asistenciasPuntualesMes ? dashboard.asistenciasPuntualesMes : 0}} </span>
      <span class="text-500">Puntuales</span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Asistencias | Hoy</span>
          <div class="text-900 font-medium text-xl">{{dashboard.asistenciasHoy ? dashboard.asistenciasHoy : 0}}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-fw pi-check-square text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">{{dashboard.asistenciasPuntualesHoy ? dashboard.asistenciasPuntualesHoy : 0}} </span>
      <span class="text-500">Puntuales</span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Docentes | Total</span>
          <div class="text-900 font-medium text-xl">{{dashboard.docentes ? dashboard.docentes : 0}}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-fw pi-users text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">{{dashboard.docentesActivos ? dashboard.docentesActivos : 0}} </span>
      <span class="text-500">Activos</span>
    </div>
  </div>

</div>

<p-toast [life]="10000"  ></p-toast>
