<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Perfil</h5>
        <div class="card">
          <p-tabView>
            <p-tabPanel header="Imagen">
              <div class="flex align-content-center flex-wrap">
                <div class="field col-12 md:col-4 flex align-items-center justify-content-center">
                  <p-image
                    [src]="'data:image/png;base64,' + user.base64Image"
                    class="img-fluid"
                    alt="Image"
                    width="100"
                    height="105"
                    [preview]="true"
                  ></p-image>
                </div>
                <div class="field col-12 md:col-8">
                  <p-message
                    *ngIf="fileUpload == undefined"
                    severity="warn"
                    text="Por favor, cargue su imagen de perfil si desea actualizarlo."
                  ></p-message>
                  <p-fileUpload
                    name="imagedata"
                    (onSelect)="onSelect($event)"
                    (onClear)="onClear($event)"
                    accept="image/jpeg"
                    [maxFileSize]="1000000"
                    [showUploadButton]="false"
                    invalidFileLimitMessageSummary="Límite de archivo inválido"
                    invalidFileTypeMessageSummary="{0}: Tipo de archivo no válido,"
                    invalidFileLimitMessageDetail="El límite es {0} como máximo."
                    invalidFileTypeMessageDetail="Tipos de archivos permitidos: {0}."
                    invalidFileSizeMessageSummary="{0}: Tamaño de archivo no válido,"
                    invalidFileSizeMessageDetail="El tamaño máximo de carga es {0}."
                    invalidFileSizeMensajeResumen="{0}: Tamaño de archivo no válido,"
                    #file
                  >
                    <ng-template pTemplate="content">
                      <ul>
                        <li>
                          {{ fileUpload?.name }} - {{ fileUpload?.size }} bytes
                        </li>
                      </ul>
                    </ng-template>
                  </p-fileUpload>
                  <div class="flex justify-content-center" style="margin: 10px">
                    <p-button
                      label="Actualizar Imagen"
                      (onClick)="updateImage()"
                      severity="info"
                      [disabled]="fileUpload === undefined"
                    >
                    </p-button>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Datos">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                  <label>C.I.: </label>
                  <p-chip [label]="userInfo.ci"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Nombre: </label>
                  <p-chip [label]="userInfo.nombre"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Apellido: </label>
                  <p-chip [label]="userInfo.apellido"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Email: </label>
                  <p-chip [label]="userInfo.email"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Correo Institucional: </label>
                  <p-chip [label]="userInfo.correoInstitucional"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Genero: </label>
                  <p-chip [label]="userInfo.genero"></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Activo: </label>
                  <p-chip
                      [label]="userInfo.activo ? 'Activo' : 'Inactivo'"
                      class="pi"
                      [ngClass]="{
                        'true-icon pi-check-circle text-green-500': userInfo.activo,
                        'false-icon pi-times-circle text-pink-500': !userInfo.activo
                      }"
                  ></p-chip>
                </div>

                <div class="field col-12 md:col-4">
                  <label>Rol: </label>
                  <p-chip [label]="user.role"></p-chip>
                </div>

                <div *ngIf="!isSupervisor" class="field col-12 md:col-4">
                  <label>Codigo RFID: </label>
                  <p-chip
                      [label]="userInfo.codRfid"
                      image="/assets/asistencia/icons/registerDocente/rfid.png"
                  ></p-chip>
                </div>

                <div *ngIf="isSupervisor" class="field col-12 md:col-4">
                  <label>Reporte Email: </label>
                  <p-chip
                      [label]="userInfo.reporteEmail ? 'Activo' : 'Inactivo'"
                      class="pi"
                      [ngClass]="{
                        'true-icon pi-check-circle text-green-500': userInfo.reporteEmail,
                        'false-icon pi-times-circle text-pink-500': !userInfo.reporteEmail
                      }"
                  ></p-chip>
                </div>

                <div *ngIf="isSupervisor" class="field col-12 md:col-4">
                  <label>Reporte Institucional: </label>
                  <p-chip
                      [label]="userInfo.reporteInstitucional ? 'Activo' : 'Inactivo'"
                      class="pi"
                      [ngClass]="{
                        'true-icon pi-check-circle text-green-500': userInfo.reporteInstitucional,
                        'false-icon pi-times-circle text-pink-500': !userInfo.reporteInstitucional
                      }"
                  ></p-chip>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Actualizar Datos"  >
              <form [formGroup]="data" (ngSubmit)="onSubmitInfo()" method="POST">
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-4">
                    <p-message
                      *ngIf="
                        data.get('email')?.invalid && data.get('email')?.touched
                      "
                      severity="warn"
                      text="Por favor, ingrese su Email Personal"
                    ></p-message>
                    <label htmlFor="email">Email Personal: </label>
                    <input
                      pInputText
                      id="email"
                      formControlName="email"
                      type="text"
                      placeholder="text@text.com"
                    />
                  </div>

                  <div *ngIf="!isSupervisor" class="field col-12 md:col-4">
                    <p-message
                      *ngIf="!ngxMqttService.cardRfidLoad"
                      severity="info"
                      text="Para obtener el código RFID, simplemente acerque la tarjeta RFID
                          a cualquier lector. Recuerde que debe cambiar el módulo al modo 'Registrar data'
                          para poder leer la tarjeta RFID."
                    ></p-message>
                    <p-message
                      *ngIf="ngxMqttService.cardRfidLoad"
                      severity="success"
                      text="El codigo RFID proviene de la Aula:
                            {{ ngxMqttService.aula.paralelo }} - {{
                        ngxMqttService.aula.aula
                      }} -
                            {{ ngxMqttService.aula.piso }} - {{
                        ngxMqttService.aula.bloque
                      }}"
                    ></p-message>
                    <div class="flex align-items-center">
                      <label htmlFor="cardRfid" class="m-3">Tarjeta RFID: </label>
                      <p-chip
                        [label]="ngxMqttService.messageDocenteRegister.codigoRfid"
                        image="/assets/asistencia/icons/registerDocente/rfid.png"
                        id="cardRfid"
                      ></p-chip>
                    </div>
                  </div>

                  <div class="field col-12 md:col-4">
                    <div class="flex justify-content-center">
                      <label for="m-3" htmlFor="activo">Activo: </label>
                      <p-inputSwitch
                        id="activo"
                        formControlName="activo"
                        class="m-3"
                      ></p-inputSwitch>
                    </div>
                  </div>

                  <div *ngIf="isSupervisor" class="field col-12 md:col-4 ">
                    <div class="flex justify-content-center">
                      <label for="m-3" htmlFor="reporteEmail"
                        >Reporte Email: </label
                      >
                      <p-inputSwitch
                        id="reporteEmail"
                        formControlName="reporteEmail"
                        class="m-3"
                      ></p-inputSwitch>
                    </div>
                  </div>

                  <div *ngIf="isSupervisor" class="field col-12 md:col-4">
                    <div class="flex justify-content-center">
                      <label for="m-3" htmlFor="reporteInstitucional"
                        >Reporte Institucional: </label
                      >
                      <p-inputSwitch
                        id="reporteInstitucional"
                        formControlName="reporteInstitucional"
                        class="m-3"
                      ></p-inputSwitch>
                    </div>
                  </div>

                </div>
                <p-button *ngIf="isSupervisor"
                    label="Enviar"
                    [loading]="loadingInfo"
                    type="submit"
                    [disabled]="data.invalid"
                ></p-button>
                <p-button *ngIf="!isSupervisor"
                    label="Enviar"
                    [loading]="loadingInfo"
                    type="submit"
                    [disabled]="data.invalid && ngxMqttService.cardRfidLoad === undefined"
                ></p-button>
                <p-button
                  [ngStyle]="{ 'margin': '10px' }"
                  label="Resetear"
                  (onClick)="clearForm()"
                  severity="secondary">
                </p-button>
              </form>
            </p-tabPanel>
            <p-tabPanel header="Contraseña">
              <form [formGroup]="updatePassword" (ngSubmit)="onSubmitPassword()" method="POST" >
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-4">
                    <p-message
                      *ngIf="
                        updatePassword.get('contrasenia')?.invalid &&
                        updatePassword.get('contrasenia')?.touched
                      "
                      severity="warn"
                      text="Por favor, ingrese su contraseña actua"
                    ></p-message>
                    <label htmlFor="password">Contraseña actual: </label>
                    <p-password
                      id="password"
                      placeholder="abCd@1234\*?!"
                      formControlName="contrasenia"
                      required
                    ></p-password>
                  </div>

                  <div class="field col-12 md:col-4">
                    <p-message
                      *ngIf="updatePassword.get('contraseniaNueva')?.invalid && updatePassword.get('contraseniaNueva')?.touched"
                      severity="warn"
                      text="Por favor, introduzca la nueva contraseña.
                      Para asegurar la seguridad de su contraseña, debe cumplir con los siguientes requisitos:
                      Al menos 8 caracteres de longitud.
                      Incluir al menos un número.
                      Incluir al menos una letra mayúscula.
                      Incluir al menos una letra minúscula.
                      Debe contener al menos un símbolo especial."
                    ></p-message>
                    <label htmlFor="password">Contraseña nueva: </label>
                    <p-password
                      formControlName="contraseniaNueva"
                      placeholder="Ingrese su contraseña nueva"
                      id="password"
                      required
                    ></p-password>
                  </div>
                </div>
                <p-button
                    label="Enviar"
                    [loading]="loadingPassword"
                    type="submit"
                    [disabled]="updatePassword.invalid"
                  ></p-button>
                <p-button
                  [ngStyle]="{ 'margin': '10px' }"
                  label="Resetear"
                  (onClick)="clearFormPassword()"
                  severity="secondary">
                </p-button>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
    </div>
  </div>
</div>

<p-toast [life]="10000"></p-toast>
