<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
              <div class="grid flex flex-column align-items-center">
                  <span class="text-blue-500 font-bold text-3xl">402</span>
                  <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Acceso denegado</h1>
                  <span class="text-600 mb-5">No tienes los permisos necesarios. Por favor contacte a los administradores.</span>
                  <img src="../../../../../assets/asistencia/images/access/asset-access.svg" alt="Access denied" class="mb-5" width="80%">
                  <button
                          pButton pRipple
                          icon="pi pi-arrow-left"
                          label="Volver al inicio"
                          class="p-button-text"
                          [routerLink]="['/']" >
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
