<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Registrar Licencia</h4>
            <form [formGroup]="licencia"  (ngSubmit)="onSubmit()" method="POST">
              <div class="p-fluid p-formgrid grid">
                <div [formGroup]="docenteLicencia" class="field col-12 md:col-6">
                  <p-message
                    *ngIf="docenteLicencia.get('ci')?.invalid && docenteLicencia.get('ci')?.touched"
                    severity="warn"
                    text="Por favor, ingrese su C.I."
                  ></p-message>
                  <label htmlFor="ci">C.I.: </label>
                  <p-inputNumber
                    formControlName="ci"
                    inputId="ci"
                    mode="decimal"
                    [min]="99999"
                    [max]="999999999"
                    [useGrouping]="false"
                    placeholder="12345678"
                  >
                  </p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                  <p-message
                    *ngIf="licencia.get('fechaInicio')?.invalid ||
                           licencia.get('fechaFinal')?.invalid"
                    severity="warn"
                    text="Por favor, ingrese la fechas de su licencia"
                  ></p-message>
                  <label htmlFor="fechaLicencia">Inserte la fecha de sus licencia: </label>
                  <p-calendar
                      selectionMode="range"
                      [readonlyInput]="true"
                      (onSelect)="eventSelectDate($event)"
                      (onClearClick)="clearDate()"
                      [minDate]="minDate" [maxDate]="maxDate"
                      [showButtonBar]="true"
                      #fechas
                  ></p-calendar>
                </div>
                <div  class="field col-12 md:col-8" >
                  <p-message
                    *ngIf="licencia.get('descripcion')?.invalid && licencia.get('descripcion')?.touched"
                    severity="warn"
                    text="Por favor, ingrese la descripcion de su licencia"
                  ></p-message>
                  <label htmlFor="descripcion">Descripcion: </label>
                  <textarea
                      pKeyFilter="string"
                      rows="10"
                      cols="120"
                      pInputTextarea
                      formControlName="descripcion"
                  ></textarea>
                </div>
              </div>
              <p-button
                  label="Enviar"
                  [loading]="loading"
                  type="submit"
                  [disabled]="licencia.invalid || docenteLicencia.get('ci')?.invalid"
                ></p-button>
              <p-button
                [ngStyle]="{ 'margin': '10px' }"
                label="Resetear"
                (onClick)="clearForm()"
                severity="secondary">
              </p-button>
            </form>
        </div>
    </div>
</div>

<p-toast [life]="10000" ></p-toast>
