<div class="layout-footer">
    <img src="assets/layout/images/logoSalesiana.png" alt="Logo" height="20" class="mr-2"/>
    by
    <span class="font-medium ml-2">PrimeNG</span>
    <p-button label="{{'project-asistencia.languages.es' | translate }}" (onClick)="es()" styleClass="p-button-link"></p-button>
    <strong>|</strong>
    <p-button label="{{'project-asistencia.languages.en' | translate }}" (onClick)="en()" styleClass="p-button-link"></p-button>
    <span>{{ 'project-asistencia.hello' | translate }}</span>
</div>
