<div class="flex align-content-between flex-wrap layout-footer">
    <div class="flex align-items-center justify-content-center" >
      <img src="assets/layout/images/logoSalesiana.png" alt="Logo" height="20" class="mr-2"/>

    </div>
    <div class="flex align-items-center justify-content-center" >
      <span class="font-medium ml-2">Idioma: </span>
      <p-button label="{{'asistencia.languages.es' | translate }}"
                (onClick)="es()"
                [link]="true"></p-button><strong>|</strong>

      <p-button label="{{'asistencia.languages.en' | translate }}"
        (onClick)="en()" [link]="true"></p-button>
    </div>
</div>
