<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Ingrese sus datos</h5>
      <form [formGroup]="docente" (ngSubmit)="onSubmit()" method="POST">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label htmlFor="ci">C.I.</label>
            <p-inputNumber
              formControlName="ci"
              inputId="ci"
              mode="decimal"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="nombre">Nombre</label>
            <input pInputText id="nombre" type="text" />
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="apellido">Apellido</label>
            <input pInputText id="apellido" type="text" />
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="email">Email Personal</label>
            <input pInputText id="email" type="text" />
          </div>

          <div class="field col-12 md:col-4 flex flex-wrap gap-3">
            <div class="flex align-items-center">
              <p-radioButton
                name="genero"
                value="M"
                inputId="masculino"
                formControlName="genero"
              >
              </p-radioButton>
              <label for="masculino" class="ml-2">Masculino</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton
                name="genero"
                value="F"
                inputId="femenino"
                formControlName="genero"
              ></p-radioButton>
              <label for="femenino" class="ml-2">Femenino</label>
            </div>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="correoInstitucional">Correo Institucional</label>
            <input pInputText id="correoInstitucional" type="text" />
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="password">Contraseña</label>
            <p-password
              id="password"
              placeholder="Password"
              formControlName="contrasenia"
              required
            ></p-password>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="password">Confirmar Contraseña</label>
            <p-password
              id="password"
              placeholder="Password"
              formControlName="contrasenia"
              required
            ></p-password>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="password">Confirmar Contraseña</label>
            <p-password
              id="password"
              placeholder="Password"
              formControlName="contrasenia"
              required
            ></p-password>
          </div>

          <div class="field col-12 md:col-4" >
            <div class="flex align-items-center" >
              <label htmlFor="cardRfid" class="m-3" >Tarjeta RFID</label>
              <p-chip [label]="ngxMqttService.messageDocenteRegister.codigoRfid"
                      image="/assets/asistencia/icons/registerDocente/rfid.png"
                      id="cardRfid"
                      formControlName="codRfid"></p-chip>
            </div>
          </div>

        </div>

        <div class="field col-12 md:col-6">
          <p-fileUpload
              name="imageDocente"
              (onSelect)="onSelect($event)"
              (onClear)="onClear($event)"
              accept="image/*"
              [maxFileSize]="1000000"
              [showUploadButton]="false"
              invalidFileLimitMessageSummary="Límite de archivo inválido"
              invalidFileTypeMessageSummary="{0}: Tipo de archivo no válido,"
              invalidFileLimitMessageDetail= "El límite es {0} como máximo."
              invalidFileTypeMessageDetail= "Tipos de archivos permitidos: {0}."
              invalidFileSizeMessageSummary="{0}: Tamaño de archivo no válido,"
              invalidFileSizeMessageDetail= "El tamaño máximo de carga es {0}."
              invalidFileSizeMensajeResumen= "{0}: Tamaño de archivo no válido,"
            >
              <ng-template pTemplate="content">
                <ul>
                  <li>{{ fileUpload.name }} - {{ fileUpload.size }} bytes</li>
                </ul>
              </ng-template>
            </p-fileUpload>
        </div>



      </form>

    </div>
  </div>
</div>

<p-toast></p-toast>
